<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.phonegap.hello-world" version="1.0.0">
	<name>Mitfahrzentrale</name>
	<description>
        Suchen Sie Mitfahrgelegenheiten oder bieten Sie Mitfahrgelegenheiten an.
    </description>
	<author href="http://www.hexerei.ch" email="mw@ti.notizia.ch">
        Markus Winter
    </author>
	<access />
	<preference name="permissions" value="none"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
</widget>
